/* ANIMATION */

.animate-switch.ng-animate {
	transition: all cubit-bezier(0.250, 0.450, 0.940) 0.5s;
	position:absolute;
	top:0;
	left:0;
	right: 0;
	bottom:0;
}

.animate-switch.ng-leave-active, animate-switch.ng-enter {
	top:50px;
}
.animate-switch.ng-leave, .animate-switch.ng-enter-active {
	top:0;
}
