/* HEADER */
@import 'base/colors-mixins';

$heading-height: 80px;

.welcome {
	padding: 0 20px;
}

.custom-nav {
    background-color: $primary-color;
    height: $heading-height;
    padding: 20px;
}

.votesremaning {
	font-size: 12px;
	font-weight: bold;
	color: white;
	letter-spacing: .5px;
	text-transform: uppercase;
}

.sub-nav {
	background-color: $secondary-color;
	height: 40px;
	padding: 10px 20px;
}


.sub-nav a {
	color: #3d3c3c;
	text-decoration: none;
}

.sub-nav a:hover {
	color: #000;
}

.sub-nav a:active {
	font-weight: bold;
}

.sub-sub-nav {
	background: #207e9d;
	height: 40px;
	padding: 10px 20px;
}

.sub-sub-nav a {
	color: white;
	text-decoration: none;
}

.sub-sub-nav a:active {
	font-weight: bold;
}

.border {
	border-right: 1px solid #999;
}

// .header {
// 	position:fixed;
// 	left: 0;
// 	top: 0;
// 	height: 50px;
// 	width: 100%;
// 	background-color: $primary-color; /* fallback color if gradients are not supported */
// 	@include linear-gradient(top, $primary-color, $primary-color-darker);
// 	color: white;
// 	padding: 14px 15px;
// 	z-index: 9999;

// 	#category-filter {
// 		width: 60%;
// 	}

// 	#vote-counter {
// 		width: 40%;
// 	}
// }

.top-buffer { 
	margin-top: 20px; 
	padding: 0 15px;
}