<div class="header">
	<button class="btn btn-primary pull-left logout" ng-click="logout()">Log Out!</button>
	<button class="btn btn-primary pull-right"><a href="/#!/sessions" class="header-link">Sessions</a></button>
</div>

<section class="container admin-container">
	<div class="row">
		<div class="polling-checkbox">
			<!-- <label> Voting Enabled </label>
		    <input type="checkbox" ng-model="polling.open" /> -->

		    <label class="timeofday">Sessions</label>
		    <select ng-model="selectedSchedule" ng-change="displaySchedule()" class="form-control">
		    	<option value="">---</option>
		    	<option value="Morning">Morning</option>
		    	<option value="Afternoon">Afternoon</option>
		    </select>

			<!-- <label style="margin-left: 30px;">Hide Removed From Admin View</label>
			<input type="checkbox" ng-model="hideRemoved"> -->
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<td><a href="" ng-click="sortByType = 'rank'; reverseSort = !reverseSort">
				Rank
					<span ng-show="sortByType == 'rank' && !reverseSort" class="fa fa-caret-down"></span>
					<span ng-show="sortByType == 'rank' && reverseSort" class="fa fa-caret-up"></span>
				</a></td>
				<td><a href="" ng-click="sortByType = 'total_votes'; reverseSort = !reverseSort">
				Votes
					<span ng-show="sortByType == 'total_votes' && !reverseSort" class="fa fa-caret-down"></span>
					<span ng-show="sortByType == 'total_votes' && reverseSort" class="fa fa-caret-up"></span>
				</a></td>
				<td><a href="" ng-click="sortByType = 'Title'; reverseSort = !reverseSort">
				Title
					<span ng-show="sortByType == 'Title' && !reverseSort" class="fa fa-caret-down"></span>
					<span ng-show="sortByType == 'Title' && reverseSort" class="fa fa-caret-up"></span>
				</a></td>
				<td><a href="" ng-click="sortByType = 'speakerName'; reverseSort = !reverseSort">
				Speaker
					<span ng-show="sortByType == 'speakerName' && !reverseSort" class="fa fa-caret-down"></span>
					<span ng-show="sortByType == 'speakerName' && reverseSort" class="fa fa-caret-up"></span>
				</a></td>
				<td><a href="" ng-click="sortByType = 'Time'; reverseSort = !reverseSort">
				Time
					<span ng-show="sortByType == 'Time' && !reverseSort" class="fa fa-caret-down"></span>
					<span ng-show="sortByType == 'Time' && reverseSort" class="fa fa-caret-up"></span>
				</a></td>
				<td><a href="" ng-click="sortByType = 'Room'; reverseSort = !reverseSort">
				Room
					<span ng-show="sortByType == 'Room' && !reverseSort" class="fa fa-caret-down"></span>
					<span ng-show="sortByType == 'Room' && reverseSort" class="fa fa-caret-up"></span>
				</a></td>
				<td><a href="" ng-click="sortByType = 'Availability'; reverseSort = !reverseSort">
				Availability
					<span ng-show="sortByType == 'Availability' && !reverseSort" class="fa fa-caret-down"></span>
					<span ng-show="sortByType == 'Availability' && reverseSort" class="fa fa-caret-up"></span>
				</a></td>
			</tr>
		</thead>

		<tbody>
			<tr
					data-ng-class="{hide: hideRemoved && s.inSync.removed}"
			 		data-time-value="{{timeSelect}}"
			 		data-room-value="{{roomSelect}}"
					ng-repeat="s in sessions | orderBy:sortByType:reverseSort | filter:{availability: sessions.availability}"
					ng-model="sessions">
				<td class="text-center">{{s.Rank}}</td>
				<td>{{s.total_votes}}</td>
				<td>{{s.Title}}</td>
				<td>{{s['First Name']}} {{s['Last Name']}}</td>
		  	<td>
				  <select ng-model="s.Time" ng-change="setTime(s.Time, s)">
					  <!-- This will allow for an admin to deselect a value -->
					  <option value="" selected>---</option>

					  <option ng-repeat="time in times" value="{{ time }}">{{ time }}</option>
			  	  </select>
			  	<!-- <select ng-options=""	 -->
				</td>

				<td>
				  <select ng-model="s.Room" ng-change="setRoom(s.Room, s)">
					  <!-- This will allow for an admin to deselect a value -->
					  <option value="" selected>---</option>

					  <option ng-repeat="room in rooms" value="{{ room }}">{{ room }}</option>
				  </select>
				</td>
				<td>{{s.Availability}}</td>
				<td><button class="btn btn-danger" ng-disabled="!s.Room || !s.Time" ng-click="clearSession(s)">X</button></td>
		</tbody>
	</table>

	<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="prepareSchedule()">Save</button>

	<button type="button" class="btn btn-secondary btn-lg btn-block" ng-click="clearAllSessions()">Reset</button>
</section>
