<!-- nav -->
<div class="row custom-nav">
	<div class="col-xs-6">
		<button class="btn btn-primary" data-ng-click="logout()">Log Out!</button>
	</div>

	<div class="col-xs-6">
		<button class="btn btn-primary pull-right">
			 <a href="/#!/sessions" class="header-link">Sessions</a>
		</button>
	</div>
</div>
<!-- end nav -->


<!-- sub nav for filter -->
<div class="row sub-nav">
	<div class="col-xs-3 border text-center">
		<a href="" aria-controls="home" role="tab" data-toggle="tab" ng-if="morningRooms.length"  ng-click="groupBy('Time')">Time</a>
	</div>

	<div class="col-xs-3 border text-center">
		<a href="" aria-controls="profile" role="tab" data-toggle="tab" ng-if="morningRooms.length" ng-click="groupBy('Room')">Room</a>
	</div>

	<div class="col-xs-3 border text-center">
		<a href="" aria-controls="profile" role="tab" data-toggle="tab" ng-if="morningRooms.length" ng-click="groupBy('Last Name')">Speaker</a>
	</div>

	<div class="col-xs-3 text-center">
		<a href="" aria-controls="profile" role="tab" data-toggle="tab" ng-if="morningRooms.length" ng-click="groupBy('Title')">Title</a>
	</div>
</div>
<!-- end subnav -->


<div class="container schedule sessions" id="myTabs">

	<!-- Loading Message -->
	<div class="container" ng-if="!scheduleHasLoaded">
		<h2 class="text-center come-back-message">Loading...</h2>
	</div>

	<!-- Message to display during morning voting when no schedules are built -->
	<div class="container" ng-if="!morningRooms.length && scheduleHasLoaded">
		<h4 class="text-center come-back-message">Check back after voting has ended for the full schedule.</h4>
	</div>

	<!-- Afternoon schedule -->
	<section class="scheduleList" ng-hide="!afternoonRooms.length">
		<h2 class="title">Afternoon Schedule</h2>
		<div class="tab-content" ng-repeat="session in afternoonGroups" >
			<div class="schedule" id="afternoon">

				<h3 ng-if="showLabel">{{session.label}}</h3>

			<div ng-repeat="session in session.sessions">

				<h4 ng-if="showTitle">{{session.Title}}</h4>
				<h4 ng-if="showName">{{session['Last Name']}}, {{session['First Name']}}</h4>

				<h5 ng-if="!showTitle">{{session.Title}}</h5>
				<h5 ng-if="!showName">{{session['Last Name']}}, {{session['First Name']}}</h5>

				<p>{{session.Room}} | {{session.Time}}</p>

				<!-- Session Description -->
				<div class="row">
					<div class="sessionDescription col-xs-12 col-sm-12 col-md-12" ng-click="showText = !showText">
						<p ng-class="{ collapsed: !showText }">{{$ctrl.session.Body}}</p>
						<div class="toggle-text" ng-hide="showText"><em>show more</em></div>
						<div class="toggle-text" ng-show="showText"><em>show less</em></div>
					</div>
				</div> <!--end row -->

				<hr>
			</div>
			</div>
		</div>
	</section>

	<!-- Morning Schedule -->
	<section class="scheduleList" ng-hide="!morningRooms.length">
		<h2 class="title">Morning Schedule</h2>
		<div class="tab-content" ng-repeat="session in morningGroups">
			<div class="schedule" id="morning">

				<h3 ng-if="showLabel">{{session.label}}</h3>

			<div ng-repeat="session in session.sessions">
			   <h4 ng-if="showTitle">{{session.Title}}</h4>
			   <h4 ng-if="showName">{{session['Last Name']}}, {{session['First Name']}}</h4>
			   <h5 ng-if="!showTitle">{{session.Title}}</h5>
			   <h5 ng-if="!showName">{{session['Last Name']}}, {{session['First Name']}}</h5>
			   <p>{{session.Room}} | {{session.Time}}</p>

			   <!-- Session Description -->
			   <div class="row">
				   <div class="sessionDescription col-xs-12 col-sm-12 col-md-12" ng-click="showText = !showText">
					   <p ng-class="{ collapsed: !showText }">{{session.Body}}</p>
					   <div class="toggle-text" ng-hide="showText"><em>show more</em></div>
					   <div class="toggle-text" ng-show="showText"><em>show less</em></div>
				   </div>
			   </div> <!--end row -->

				<hr>
			</div>
			</div>
		</div>
	</section>
</div>
